* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  /* background: #5173a0; */
  background: linear-gradient(#83c5be, #aed9e0);
}

body, input, button, textarea {
  font: 600 18px Nunito, sans-serif;
}
